*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.bannerBg{
    background-image: url('../assets/bannerr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerH4{
    color: #DF6951;
    font-size: 20px;
    font-weight: bold;
}
.bannerH3{
    color: #181E4B;
    font-size: 84px;
    font-weight: bold;
}
.bannerP{
    color: #5E6282;
    font-size: 16px;
    font-weight: 400;
}