/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
  /* if full website has 1 font family  */
  /* font-family: serif; */
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
/* All Common Css End */

/* header part start  */
.headerBg {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translatex(123%);
  z-index: -100;
}

.navbar {
  z-index: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 17px;
  color: #212832;
  font-family: "Open Sans", sans-serif;
}

.header_sel {
  border: none;
  width: 46px;
  outline: 0;
  cursor: pointer;
  background: transparent !important;
}

.signup {
  display: inline-block;
  padding: 5px 20px !important;
  border: 1px solid #212832;
  border-radius: 8px;
}
/* header part end */

/* ========banner part start===========  */

.bannerBg {
  background-image: url("../assets/bannerr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerBgTwo {
  position: absolute;
  top: -62px;
  left: 0;
  z-index: 10;
}

.bannerH4 {
  color: #df6951;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.bannerH3 {
  color: #181e4b;
  font-size: 84px;
  font-weight: bold;
  line-height: 90px;
  padding-top: 34px;
  padding-bottom: 40px;
  font-family: "Volkhov", serif;
}
.decor {
  position: absolute;
  top: 96px;
  left: 272px;
  z-index: -1;
}
.relative {
  position: relative;
}
.bannerP {
  color: #5e6282;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding-right: 181px;
  font-family: "Poppins", sans-serif;
}

.bannerBtn {
  color: white;
  background: #f1a501;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  padding: 12px 22px;
}
:hover.bannerBtn {
  background: red;
}
.bannerPlay {
  font-size: 17px;
  font-weight: 500;
  color: #686d77;
  font-family: "Poppins", sans-serif;
  padding-top: 36px;
}
.playBtn {
  cursor: pointer;
}
.bannerBtnD {
  padding-top: 50px;
}
/* ========banner part end===========  */

/* ========catagory part start===========  */
.catagoryMain {
  padding: 80px 0;
}
.ctgryRel {
  position: relative;
}
.ctgryBg {
  position: absolute;
  top: 0;
  right: -53px;
}
.ctgryBgRed {
  position: absolute;
  bottom: 70px;
  right: 950px;
}
.ctgryTitleM {
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}
.ctgryTitleL {
  font-size: 50px;
  font-weight: 700;
  font-family: "Volkhov", sans-serif;
  color: #14183e;
}
.card-title {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #14183e;
  padding: 18px 0;
}
.card-text {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  line-height: 22px;
  padding: 0 50px;
}
.card_hover {
  padding: 50px 0;
  border-radius: 36px;
  width: 270px;
  position: relative;
  z-index: 10;
  background-color: white;
}
:hover.card_hover {
  -webkit-box-shadow: 0 2.5px 5px -0.5px #dddddd;
  -moz-box-shadow: 0 2.5px 5px -0.5px #dddddd;
  box-shadow: 0 2.5px 5px -0.5px #dddddd;
  transition: all;
  transition-duration: 0.3s;
}
/* ========catagory part end===========  */

/* ========sell part start===========  */
.card-img-top {
  width: 100%;
}
.text_card_T {
  color: #5e6282;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.sell_card {
  -webkit-box-shadow: 0 2.5px 5px -0.5px #dddddd;
  -moz-box-shadow: 0 2.5px 5px -0.5px #dddddd;
  box-shadow: 0 2.5px 5px -0.5px #dddddd;

  padding: 0 0 30px 0;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  position: relative;
  z-index: 10;
  background-color: white;
  width: 400px;
}
.sell_img{
  width: 100%;
}
/* ========sell part end===========  */


/* ========book part start===========  */
.boolTitleM {
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}
.boolTitleL {
  font-size: 50px;
  font-weight: 700;
  font-family: "Volkhov", sans-serif;
  color: #14183e;
}
/* ========book part end===========  */
