/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
  /* if full website has 1 font family  */
  /* font-family: serif; */
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
/* All Common Css End */

/* header part start  */
.headerBg {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar{
    z-index: 100;
}

.nav-link {
  font-weight: 500;
  font-size: 17px;
  color: #212832;
  font-family: "Open Sans", sans-serif;
}

.header_sel {
  border: none;
  width: 46px;
  outline: 0;
  cursor: pointer;
  background: transparent !important;
}

.signup {
  display: inline-block;
  padding: 5px 20px !important;
  border: 1px solid #212832;
  border-radius: 8px;
}
/* header part end */

/* ========banner part start===========  */

.bannerBg {
  background-image: url("../assets/bannerr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerH4 {
  color: #df6951;
  font-size: 20px;
  font-weight: bold;
}
.bannerH3 {
  color: #181e4b;
  font-size: 84px;
  font-weight: bold;
  line-height: 90px;
  padding-top: 24px;
  padding-bottom: 40px;
}
.bannerP {
  color: #5E6282;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding-right: 203px;
}
/* ========banner part end===========  */
